/*Configurações do header*/
.site-header{
  /*Cor de Fundo*/
  background: #0b0b0b;
  /*Textura*/
  background-image: 
    radial-gradient(rgba(255,255,255,0.02) 1px,transparent 1px),
    linear-gradient(180deg, rgba(255,255,255,0.02),rgba(0,0,0,0));
  background-size: 3px 3px, 100% 100%;
  color: #fff;
}
/*Estilização da fonte*/
.menu-header a{
  color:#dc3545;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 9px;
  transition: all 0.3s ease;
  text-decoration: none;
}
/*Estilização da forte quando passa o mouse*/
.menu-header a:hover{
  color: #fff;
}
/*Configurações no menu*/
.menu-row{
  /*Estilizando o menu*/
  background-color: #dc3545; 
  border-radius: 30px; 
  padding: 0.5rem 2rem;
  width: fit-content;
  /*Sobrepor o menu */  
  position: absolute; 
  top: 130px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


/*Estilização da fonte do menu */
.menu-row .menu-list a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
/*Estilização da forte do menu quando passa o mouse */
.menu-row .menu-list a:hover {
  color: #0b0b0b;
}

